
/* Input field */
.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.9);
}

/* Button */
.login-card button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background:#4facfe;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover effect */
.login-card button:hover {
  background: #e68900;
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 400px) {
  .login-card {
    width: 90%;
    padding: 30px 20px;
  }
}